
<table>
  	<thead>
	<table>
	<tr>
　　<th>品目コード</th>
　　<th>品目名称</th>
			<% (0..11).each do |n| %>
				<th><%= (Date.current + n.month).month %>月</th>
			<% end %>
	</tr>
	</thead>
	<tbody>
		<% @items.each do |item| %>
	<tr>
		<td><%= item.code %></td>
		<td><%= item.name %></td>
    <% end %>
</tr>

  </tbody>
</table>
<%= link_to "出荷計画一覧に戻る", :shippings %>